.vscode/
__pycache__/
.ipynb_checkpoints/
data/numpy_data/*
!data/numpy_data/.gitkeep
data/train/*
!data/train/.gitkeep
data/pcpartpicker_misc/*
!data/pcpartpicker_misc/.gitkeep
models/*
!models/.gitkeep
geckodriver.log
debug.log
TestingGrounds-OLD.ipynb
AnotherTestingGrounds.ipynb
DistanceSigmoidTestingGrounds.ipynb
ExpSoftmax.ipynb