.vscode/
__pycache__/
.ipynb_checkpoints/
.virtual_documents/
.mypy_cache/
venv/
pretrained-models/*
!pretrained-models/.gitkeep
data/numpy_data/*
!data/numpy_data/.gitkeep
data/train/*
!data/train/.gitkeep
data/test/*
!data/test/.gitkeep
data/base/*
!data/base/.gitkeep
data/pcpartpicker_misc/*
!data/pcpartpicker_misc/.gitkeep
models/*
!models/.gitkeep
geckodriver.log
debug.log
TestingGrounds-OLD.ipynb
AnotherTestingGrounds.ipynb
DistanceSigmoidTestingGrounds.ipynb
ExpSoftmax.ipynb
UPDATES.md
chromedriver.exe
CharacterBERTTest.ipynb
TestingGrounds.ipynb
TestingModels.ipynb
LaptopAttributes.ipynb
src/data_scrapers/venv
src/data_scrapers/pyvenv.cfg
test.csv
RetailerDataCreation.ipynb
WDCDataCreation.ipynb