.vscode/
__pycache__/
.ipynb_checkpoints/
data/computers_numpy/*
!data/computers_numpy/.gitkeep
data/computers_train/*
!data/computers_train/.gitkeep
models/*
!models/Softmax-LSTM-50-epochs.h5
!models/.gitkeep
